/* Navbar */

/* The main content should expand to take available space */
main {
    flex-grow: 1;
    background-color: #f8f9fa;
}

/* Carousel full screen */
.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover; /* Ensures the images cover the entire space */
}

.content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8); /* Optional background color for contrast */
}

header, .container {
    z-index: 1;
    position: relative;
}

.btn-circle {
    width: 50px;  /* Equal width and height for round shape */
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;  /* Makes the button round */
    background-color: transparent; /* Set background color */
    text-decoration: none;
    color: black;  /* Icon color */
    border: none;  /* Optional: Remove border */
}

.btn-circle:hover {
    text-decoration: none;
    color: #bcd6fd;
}

.btn-circle i {
    margin: 0;  /* Ensure no extra margins */
}

/* About */
.about-component {
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Vertically center the content */
    justify-content: space-between; /* Distribute space between image and text */
    gap: 40px; /* Adds space between the image and text */
    padding: 20px;
}

.about-image-section {
    flex: 1; /* Allow this section to take up 1 part of the available space */
}

.about-image-section img {
    max-width: 100%; /* Ensure the image scales responsively */
    height: auto;
    display: block;
}

.about-text-section {
    flex: 1; /* Allow this section to take up 1 part of the available space */
    padding: 10px;
}

@media (max-width: 768px) {
    .about-component {
        flex-direction: column; /* Stack the sections vertically on smaller screens */
        text-align: center;
    }
}

/* Education */
.education-component {
    display: flex;                  /* Enable Flexbox */
    justify-content: space-between; /* Optional: adds space between items */
}

.education-text-component {
    background-color: #eee;
    border-radius: 15px;
    flex: 1;                       /* Equal space for each component */
    padding: 20px;            /* Optional: add padding between items */
    margin: 10px;
    text-align: center;            /* Optional: center text */
}

/* Experience */
.experience-collapsible {
    margin-bottom: 20px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-radius: 15px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    transform: translateY(-5px);  /* Slight move up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  padding: 20px;
  display: none;
  overflow: hidden;
  border-radius: 15px;
  background-color: #f1f1f1;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapsible-btn {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Projects */

.project-component {
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack the sections vertically on smaller screens */
    justify-content: space-between; /* Optional: adds space between items */
    align-items: center;
    background-color: #eee;
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Ensures content stays within the bounds */
}

.project-component:hover {
    transform: translateY(-5px);  /* Slight move up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.project-text-component {
    background-color: transparent;
    flex: 1;                       /* Equal space for each component */
    padding: 5px;            /* Optional: add padding between items */
    margin: 15px;
}

.project-component img {
    width: 270px;
    border-radius: 15px;
    height: auto; /* Maintain aspect ratio */
    margin-top: 15px;
}

/* Individual Projects*/

.proj-page-component {
    display: flex;                  /* Enable Flexbox */
    justify-content: space-between; /* Optional: adds space between items */
}

.proj-page-card-component {
    background-color: #eee;
    border-radius: 15px;
    flex: 1;                       /* Equal space for each component */
    padding: 20px;            /* Optional: add padding between items */
    margin: 10px;
    text-align: center;            /* Optional: center text */
}

.proj-page-image-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 75px 0; /* Adds space below image */
}

.proj-page-image-component img {
    border-radius: 15px;
    max-width: 100%;             /* Ensures the image scales */
    height: auto;                /* Maintains aspect ratio */
    max-height: 500px;           /* Limits image height */
    display: block;
}

.proj-page-caption {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}

.proj-page-text-component {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Resources */
.resources-component {
    background-color: #eee;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Footer */
footer {
    background-color: #F0F0F0;
    padding: 10px 0;
    text-align: center; /* Footer naturally stays at the bottom after content */
}

/* Applicable everywhere */

/* Ensure body and html take full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.nav-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav-link:hover {
    color: #bcd6fd;
}

.heading {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    text-align: left;
}

.subheading {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
}

.subheading-bold {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    text-align: left;
}

.body-text {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
}

.rounded-corners {
    border-radius: 15px;
}

.tag-component {
    display: inline-flex;
    align-items: center;
    background-color: #e0e0e0; /* Light gray background */
    border-radius: 50px;       /* Rounded corners */
    padding: 5px 10px;         /* Space around the pill content */
    margin: 5px;               /* Space between pills */
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.links {
    text-decoration: none;
    color: #6c757d;
}

.links-component {
    text-decoration: none;
    color: black;
}

.links:hover {
    text-decoration: none;
    color: #bcd6fd;
}

.links-component:hover {
    text-decoration: none;
    color: #bcd6fd;
}